@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Zen+Kurenaido&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
body {
    background: url(../img/background.png);
}
#top {
    position: relative;
}
#top img {
    display: block;
    width: 100%;
}
#menu {
    position: absolute;
    width: 100%;
    max-width: 990px;
    top: 570px;
}
#menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 10px;
}
a:hover {
    opacity: 0.7;
}
#wrapper {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
#ramen-tamago {
    background: #c3dfe0;
    position: relative;
    padding: 40px 0 20px;
}
#hirugao-ramen {
    background: #5ebac2;
    position: relative;
    padding: 40px 0 20px;
}
#soranoiro-nippon {
    background: #c3dfe0;
    position: relative;
    padding: 40px 0 20px;
}

#ramen-tamago .name-t {
    color: #ffeda8;
    font-family: "Potta One", serif;
    font-size: 60px;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#ea535d;
    background-color: #5ebac2;
}
#hirugao-ramen .name-m {
    color: #c3dfe0;
    font-family: "Potta One", serif;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#4e71c9;
    background-color: #ffeda8;
}
#soranoiro-nippon .name-b {
    color: #ffeda8;
    font-family: "Potta One", serif;
    text-align: left;
    font-size: 60px;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#ea535d;
    background-color: #5ebac2;
}

#ramen-tamago .menu-t {
    display: flex;
}
#ramen-tamago .text-t {
    padding-left: 20px;
}
#ramen-tamago h2 {
    color: #234aa3;
    font-family: "Zen Kurenaido", serif;
    text-align: justify;
    font-size: 40px;
}
#ramen-tamago p {
    color: #234aa3;
    font-family: "Zen Kurenaido", serif;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
}
.name-t {
    padding-left: 10px;
}

#hirugao-ramen .menu-m {
    display: flex;
}
#hirugao-ramen h2 {
    color: white;
    font-family: "Zen Kurenaido", serif;
    text-align:justify;
    font-size: 40px;
    width: 110%;
    padding: 0 0 0 20px;
}
#hirugao-ramen p {
    color: white;
    font-family: "Zen Kurenaido", serif;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    width: 140%;
    padding: 0 0 0 20px;
}

#soranoiro-nippon .menu-b {
    display: flex;
}
#soranoiro-nippon .text-b {
    padding-left: 20px;
}
#soranoiro-nippon h2 {
    color: #234aa3;
    font-family: "Zen Kurenaido", serif;
    text-align: justify;
    font-size: 45px;
}
#soranoiro-nippon p {
    color: #234aa3;
    font-family: "Zen Kurenaido", serif;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
}

#bottom .ticket {
    background: #5ebac2;
}
#bottom img {
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 20px 40px; 
}
.text-t {
    width: 65%;
    padding: 10px 0;
}
.img-t {
    position: relative;
    width: 25%;
}
.img-t img {
    width: 125%;
    position: absolute;
    left: 36px;
    bottom: 60px;
}

.name-m {
    padding-right: 120px;
}
.text-m {
    width: 60%;
    padding: 10px 80px 15px;
}
.img-m {
    position: relative;
    width: 25%;
}
.img-m img {
    width: 135%;
    position: absolute;
    right: auto;
    bottom: 60px;
}
.himawari {
    position: relative;
    width: 25%;
}
.himawari img {
    width: 100%;
    position: absolute;
    left: auto;
    bottom: 83px;
}

.name-b {
    padding-left: 20px;
}
.img-b {
    position: relative;
    width: 25%;
}
.img-b img {
    width: 120%;
    position: absolute;
    left: 692px;
    bottom: 60px;
}
.text-b {
    width: 65%;
    padding: 10px 0;
}